# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.env

# Node
node_modules/
client/build/

# ML
ml/saved_models/*.pkl
ml/saved_models/*.joblib

# Database
database/*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
